<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<!-- changes from the defaults -->
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>
	
	<typeAliases>
		<typeAlias type="com.oneplus.sms.po.Sms" alias="Sms" />
		<typeAlias type="com.oneplus.sms.po.ReceiveSms" alias="ReceiveSms" />
	</typeAliases>
	
	<mappers>
		<mapper resource="mybatis-util.xml"/> 
		<mapper resource="mybatis-sms.xml"/>
		<mapper resource="mybatis-receive.xml"/>
	</mappers>
	
</configuration>
