<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="receiveSms">
	<resultMap id="BaseResultMap" type="ReceiveSms">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="receive_date" property="receiveDate" jdbcType="TIMESTAMP" />
		<result column="mobile_no" property="mobileNo" jdbcType="VARCHAR" />
		<result column="sp_gate" property="spGate" jdbcType="VARCHAR" />
		<result column="sub_port" property="subPort" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="biz_type" property="bizType" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id, receive_date, mobile_no, sp_gate, sub_port, content,
		biz_type
	</sql>
	
	<select id="find_by_id" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_receive_sms
		where id = #{id,jdbcType=INTEGER}
	</select>
	
	<delete id="delete" parameterType="ReceiveSms">
		delete from t_receive_sms
		where id = #{id,jdbcType=INTEGER}
	</delete>
	
	<insert id="insert" parameterType="ReceiveSms">
		insert into t_receive_sms
		(receive_date, mobile_no,
		sp_gate, sub_port, content,
		biz_type)
		values
		(#{receiveDate,jdbcType=TIMESTAMP}, #{mobileNo,jdbcType=VARCHAR},
		#{spGate,jdbcType=VARCHAR}, #{subPort,jdbcType=VARCHAR},
		#{content,jdbcType=VARCHAR},
		#{bizType,jdbcType=VARCHAR})
	</insert>

	<insert id="batch_insert" parameterType="java.util.List">
		insert into t_receive_sms (
		receive_date,
		mobile_no,
		sp_gate,
		sub_port,
		content,
		biz_type
		)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(
			#{item.receiveDate,jdbcType=TIMESTAMP},
			#{item.mobileNo,jdbcType=VARCHAR},
			#{item.spGate,jdbcType=VARCHAR},
			#{item.subPort,jdbcType=VARCHAR},
			#{item.content,jdbcType=VARCHAR},
			#{item.bizType,jdbcType=VARCHAR}
			)
		</foreach>
	</insert>

	<select id="search" resultMap="BaseResultMap"
		parameterType="ReceiveSms">
		select
		<include refid="Base_Column_List" />
		from t_receive_sms where 1=1
		<if test="receiveDate != null">
			and receive_date = #{receiveDate,jdbcType=TIMESTAMP}
		</if>
		<if test="mobileNo != null">
			and mobile_no = #{mobileNo,jdbcType=VARCHAR}
		</if>
		<if test="spGate != null">
			and sp_gate = #{spGate,jdbcType=VARCHAR}
		</if>
		<if test="subPort != null">
			and sub_port = #{subPort,jdbcType=VARCHAR}
		</if>
		<if test="content != null">
			and content = #{content,jdbcType=VARCHAR}
		</if>
		<if test="bizType != null">
			and biz_type = #{bizType,jdbcType=VARCHAR}
		</if>
	</select>

	<insert id="insertSelective" parameterType="ReceiveSms">
		insert into t_receive_sms
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="receiveDate != null">
				receive_date,
			</if>
			<if test="mobileNo != null">
				mobile_no,
			</if>
			<if test="spGate != null">
				sp_gate,
			</if>
			<if test="subPort != null">
				sub_port,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="bizType != null">
				biz_type,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="receiveDate != null">
				#{receiveDate,jdbcType=TIMESTAMP},
			</if>
			<if test="mobileNo != null">
				#{mobileNo,jdbcType=VARCHAR},
			</if>
			<if test="spGate != null">
				#{spGate,jdbcType=VARCHAR},
			</if>
			<if test="subPort != null">
				#{subPort,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="bizType != null">
				#{bizType,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
</mapper>